{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }}
</p>
{{ end }}
{{ if .Site.Params.ethicalAdsPublisher }}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<style>
  div.ea-content {
    background-color: #282a37 !important;
  }
  strong.ea-headline, strong.ea-cta {
    color: #8bbfdb !important;
  }
  span.ea-body, .ea-callout a {
    color: #c7cfd9 !important;
  }
</style>
<div class="bordered horizontal" data-ea-publisher='{{ .Site.Params.ethicalAdsPublisher }}' data-ea-type="text"></div>
{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ with .Site.Params.social.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
