{{ define "main" }}
<p>{{ .Site.Params.description }}</p>
<h2>{{ i18n "latest-posts" }}</h2>
{{ $pages := first .Site.Params.latestPostsCount (where .Site.RegularPages "Section" "blog") }}
<ul class="blog-posts">
{{ range $pages }}
<li>
    <span>
    <i>
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
        </time>
    </i>
    </span>
    {{ if .Params.link }}
    <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
    {{ else }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
</li>
{{ else }}
<li>
    {{ i18n "no-posts" }}
</li>
{{ end }}
</ul>
{{ $b := .Site.GetPage "blog" }}
<p><a href="{{ $b.Permalink }}">{{ i18n "view-all" }} →</a></p>
{{ if .Site.Params.links}}
<h2>{{ i18n "stay-in-touch" }}</h2>
<p>
{{ $links := .Site.Params.links }}
{{ $len := (len $links) }}
{{ range $index, $link := $links }}
→ <a href="https://weeklywtf.beehiiv.com/subscribe"><strong>{{ $link.name }}</strong></a>.
{{ if $link.description }}
{{ $link.description }}
{{ end }}
{{ if not (eq (add $index 1) $len) }}
<br>
{{ end }}
{{ end }}
</p>
{{ end }}
{{ end }}
